@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
  --font-sans: "Open Sans", sans-serif;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

@layer components {
  .card-header {
    @apply text-xl font-normal font-sans text-white;
  }
}
